@media (max-width: 500px) {
    header {
        font-size: 25px;
    }

    .busca {
        margin-left: -100px;
        width: 400px;
    }

    .busca input {
        width: 220px;
    }

    .ranking {
        width: 90%;
        left: 10px;
    }

    .ranking on {
        top: -10px;
    }

    .ranking nome {
        margin-left: 10px;
        top: -40px;
        font-size: 90%;
    }

    .resposta {
        width: 350px;
        margin-left: 1%;
    }

    .resposta span {
        width: 200px;
        position: relative;
        left: 40%;
    }
}